.chemas {
    display: grid;
    grid-template-columns: 2 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .chemas {
    grid-template-columns: 2fr 1.5fr; /* Modificar los valores de columnas si es necesario */
    max-width: 25rem;
  }


       /* Estilos para el nombre del producto */
  /* Estilos para el precio del producto */
  .chemas .precio  {
    font-size: 14px;
  }

  .chemas .palabra  {
    font-size: 15px; 
  }

  }
  
  .chemas > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.contenido:hover{
 cursor: pointer;
}


.contenido h3 {
    margin-top: 0px;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary);
    margin: auto;
     
}

.precio {
    color: var(--boton);
    font-size: 1.8rem;
    margin: 0;
    font-weight: 700;
}

.enlace:hover {
    background-color: var(--primary);
}

.img {
    height: 340px;
    border-radius: 15px;

  }

  